{% extends 'flatpages/default.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Параметры комнаты</title>
</head>
<body>
{% if room.host == request.user %}
    <h2 class="text_1">Редактирование комнаты: {{ room.name }}</h2>
    <form class="text_2" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="room-edit-submit" type="submit" >Сохранить изменения</button>
        <div class="table_1"><a href="{% url 'room_delete' room.id %}">удалить комнату</a></div>
    </form>
{% else %}
    <h2 class="text_1">Вам нужны права администратора для редактирования комнаты: {{ room.name }}!!!</h2>
{% endif %}
</body>
</html>
{% endblock content %}